body {

    margin: 0;
    padding: 0;
  }
  
header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
    font-weight: 500;
    opacity: .9;
    
  }
  
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    height: 90px;
    

  }


  
.navbar-brand {

    display: flex;
    align-items: center;
  
  }

  
.logo {

    height: 45px;
    width: auto;
    transition: transform 0.3s;
    padding: 20px;
    margin-left: 2px;
  
  }

  
  .navbar-links {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

  }
  
  .navbar-links li {

    margin-right: 20px;

  }
  
  .navbar-links li a {

    text-decoration: none;
    color: #053658;


  }

  .navbar-links li a:hover {
    text-decoration: none;
    
    border-bottom: solid 2px #053658;
 
  }
  
  .navbar-right {
    display: flex;
    align-items: center;

  }

  
  .navbar-right a {
    text-decoration: none;
    color: rgba(0,0,0,.5);
    display: flex;
    padding: 3px;
  }


  .navbar-right a:hover {
    text-decoration: none;
    color: #053658;
    display: flex;
    padding: 3px;
  }


  
  
  .search-input {
    margin-right: 20px;
  }

  .svg-icon-button {
    display: none;
    background-color: transparent;
    border: none;
    z-index: 9999;
  }

  .navbar-right-mobile {
    display: none;
  }


/* Media queries */

@media screen and (max-width: 1355px) {
  .navbar {
    font-size: 18px;
  }




.navbar-links {
display: none;
}

.navbar-right {
display: none;
}
.svg-icon-button {
display: flex;

}

.logo {
height: 40px;
width: auto;
transition: transform 0.3s;
padding: 10px;
margin-left: 5px;
}

.mobile-nav .navbar-right-mobile {
display: flex;

}

.mobile-nav .navbar-right-mobile a {
text-decoration: none;
color: black;
display: flex;
padding: 3px;

}
.navbar-links.mobile-nav {
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #f8f8f8;
gap: 2rem;
top: 10px;
width: 100%;
height: 520px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
transform: translateX(-100%);
opacity: 0;
transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar-links.mobile-nav.visible {
transform: translateX(0);
opacity: 1;
}

.navbar-links.mobile-nav li {
margin-bottom: 10px;
}




}
  
